.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin-top: 25px;
}

.containerInfos {
    max-width: 300px;
    margin: 20px
}

.textName {
    font-size: 20px;
    text-align: center;
}

.textDescription {
    font-size: 16px;
    text-align: justify;
}

.image {
    border-radius: 30px;
}

.containerComics {
    text-align: center;
}

.containerComics h2 {
    font-size: 20px;
    text-align: center;
}

.containerComics div p {
    font-size: 16px;
    text-align: center;
}

.containerUrls {
    text-align: center;
}

.containerComics div a p:hover {
    text-decoration: underline;
}

.containerComicsSelect select {
    border-radius: 30px;
    width: 70%;
    max-width: 400px;
    text-align: center;
    height: 40px;
    font-size: 16px;
}

.containerComicsSelect button {
    margin-left: 20px;
    background-color: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.containerComicsSelect button:hover {
    background-color: #ec1d24;
    color: white;
}

.containerUrls h2 {
    font-size: 20px;
    text-align: center;
}

.containerUrls div a p {
    font-size: 16px;
    text-align: center;
    margin: 25px
}

.containerUrls div a p:hover {
    text-decoration: underline;
}

.containerButtons {
    display: flex;
    justify-content: center;
}

.backButton {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.backButton:hover {
    background-color: #ec1d24;
    color: white;
}





  
  