.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin-top: 25px;
}

.containerInfos {
    max-width: 300px;
    margin: 20px
}

.textName {
    font-size: 20px;
    text-align: center;
}

.textDescription {
    font-size: 16px;
    text-align: justify;
}

.image {
    border-radius: 30px;
}

.containerUrls {
    text-align: center;
}

.containerComics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 420px;
}

.containerSingleComic {
    width: 265px;
    height: 380px;
    max-width: 240px;
    max-height: 380px;
    color: black;
}

.titleComic {
    max-width: 200px;
    text-align: center;
}

.containerUrls h2 {
    font-size: 20px;
    text-align: center;
}

.containerUrls div a p {
    font-size: 16px;
    text-align: center;
    margin: 25px
}

.containerUrls div a p:hover {
    text-decoration: underline;
}

.containerButtons {
    display: flex;
    justify-content: center;
}

.backButton {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.backButton:hover {
    background-color: #ec1d24;
    color: white;
}







  
  