.container {
    border-radius: 30px;
    padding: 5px;
    width: 280px;
    height: 300px;
    max-width: 280px;
    max-height: 300px;
    margin: 5px;
    color: black;
}

.nameCharacter {
    font-size: 16px;
    text-align: center;
}

.containerImage {
    margin-bottom: 20px;
    transition: all 1s;
    height: 80%;
    width: 100%;
}

.image {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.clickImage {
    padding: 0;
    cursor: pointer;
}

.clickForMore {
    font-size: 14px;
    text-align: center;
}

.containerInformations {
    margin-top: 25px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.description {
    text-align: justify;
}

