.container {
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
    background-color: white;
    max-width: 340px;
    margin: 5px;
}

.container:hover {
    box-shadow: 5px 5px 5px black;
}

.nameCharacter {
    font-size: 16px;
    text-align: center;
}

.containerImage {
    margin-bottom: 20px;
}

.clickImage {
    padding: 0;
    cursor: pointer;
}

.clickForMore {
    font-size: 14px;
    text-align: center;
}
