@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'M PLUS Rounded 1c', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ddd;
}

a {
  color: inherit;
  text-decoration: none;
}
