.container {
  margin: 0;
}

.body {
  background-color: white;
}

.textTitle {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.textDescription {
  color:white;
  text-align: center;
  font-size: 20px;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.imageCapa {
  display: flex;
  justify-content: center;
  align-items: center;
}
