.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin-top: 25px;
}

.container h2 {
    margin-top: 25px;
}

.containerInfos {
    max-width: 300px;
    margin: 20px
}

.textName {
    font-size: 20px;
    text-align: center;
}

.textDescription {
    font-size: 16px;
    text-align: justify;
}

.containerCharacters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 260px;
    margin-bottom: 35px;
}

.containerCharactersList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 340px;
}

.containerSingleCharacter {
    width: 220px;
    height: 260px;
    max-width: 220px;
    max-height: 260px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerNameCharacter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCraracter {
    border-radius: 30px;
}

.imageCraracter:hover {
    zoom: 110%;
}

.nameCharacter {
    max-width: 200px;
    text-align: center;
}

.containerCharactersResponsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.containerComics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 420px;
}

.containerComicsList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 430px
}

.containerSingleComic {
    width: 265px;
    height: 430px;
    max-width: 240px;
    max-height: 430px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerTittleComic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageComic:hover {
    zoom: 120%;
}

.titleComic {
    max-width: 200px;
    text-align: center;
}

.containerComicsResponsive {
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerButtons {
    display: flex;
    justify-content: center;
}

.backButton {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.backButton:hover {
    background-color: #ec1d24;
    color: white;
}





  
  