.divHeader {
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
    background-color: #EC1D24;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divHeaderResponsive {
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 150px;
    background-color: #EC1D24;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin-top: 25px;
}

.containerInfos {
    max-width: 300px;
    margin: 20px
}

.textName {
    font-size: 20px;
    text-align: center;
}

.textDescription {
    font-size: 16px;
    text-align: justify;
}

.textLists {
    margin-top: 50px;
}

.containerCharacters {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 260px;
}

.containerCharactersList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 260px;
}

.containerSingleCharacter {
    width: 220px;
    height: 260px;
    max-width: 220px;
    max-height: 260px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerNameCharacter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCraracter {
    border-radius: 30px;
}

.imageCraracter:hover {
    zoom: 110%;
}

.nameCharacter {
    max-width: 200px;
    text-align: center;
}

.containerCharactersResponsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerCreators {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 420px;
}

.containerCreatorsList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 430px
}

.containerSingleCreator {
    width: 265px;
    height: 430px;
    max-width: 240px;
    max-height: 430px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerTittleCreator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCreator:hover {
    zoom: 120%;
}

.titleCreator {
    max-width: 200px;
    text-align: center;
}

.containerCreatorsResponsive {
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerButtons {
    display: flex;
    justify-content: center;
}

.backButton {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.backButton:hover {
    background-color: #ec1d24;
    color: white;
}





  
  