.footer {
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
    vertical-align: center;
    color: black;
}

.containerContacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer div a {
    font-size: 20px;
    margin-left: 20px;
}

.footer div a:hover {
    text-decoration: underline;
}

.textCopyright {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}